body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0491e8;
    color: #fff;
    font-family: Arial Black, sans-serif;
    margin: 0;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #006fb5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}
